*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
margin: 44px 0px 144px 76px;
}
.header{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: gray;
    cursor: pointer;
    margin-right: 23px;
}
.buttonheader{
    background: blueviolet;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.img{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}
section{
    display: inline-block;
    margin-left: 86px;
}
h1{
    font-family: Montserrat;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    color: #515151;
}
h2{
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
    color: #515151;
}
p{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 515px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;
}
.buttonmain{
    border-radius: 30px;
    background: greenyellow;
    color: black;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    filter: drop-shadow(0px 4px 4px black);
}